.users-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown{
    margin: 15px;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
}

.text-div{
    padding: 0 200px;
}
